$accent-color-dark: rgba(108, 91, 117, 0.8);
$accent-color-light: rgba(242,136,79, 0.8);

.Container {
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: scroll;
    height: 100vh;
}

.empty-favorites {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
  h3 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
}