$accent-color-dark: rgba(108, 91, 117, 0.8);
$accent-color-light: rgba(242,136,79, 0.8);
$hover-color: rgba(231,101,81, 0.8);
$font-color: #ffffff;

.Character-Card {
  background-color: $accent-color-dark;
  border-radius: 10px;
  border: solid 2px $hover-color;
  box-shadow: 0 0 5px #ffffff;
  box-sizing: border-box;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  h2 {
    border-bottom: 4px solid #ffffff;
    font-size: 28px;
    padding-bottom: 5px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    margin: 9px;
  }

  ul {
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
    margin: 9px;
    min-height: 250px;
  }

  li {
    font-weight: normal;
    margin: 10px;
  }

  .div-favorite {
    text-align: center;
  }

  button {
    background: $accent-color-light;
    border-radius: 5px;
    color: $font-color;
    font-size: 18px;
    height: 40px;
    margin: 10px;
    width: 225px;

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
    }
  }
}

.favorite {
  border: 3px solid white;
  background: rgba(108, 91, 117, 0.9);

  button {
    background: $hover-color;
    &:hover {
      background-color: $accent-color-light;
    }
  }

}