form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  input {
    margin: 10px;
    width: 20%;
    padding: 10px;
  }

  select {
    height: 3%;
    margin: 10px;
    width: 20%;
  }

  div {
    min-height: 40px;
    p {
      display: inline;
    }
  }

    button {
      height: 5%;

      margin-top: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .error {
    outline: 3px solid red;
  }
}

