$accent-color-dark: rgba(108, 91, 117, 0.8);
$accent-color-light: rgba(242,136,79, 0.8);
$hover-color: rgba(231,101,81, 0.8);
$font-color: #ffffff;

.Movie-Card {
  align-items: center;
  background-color: $accent-color-dark;
  border-radius: 10px;
  border: solid 2px #ffffff;
  box-shadow: 0 0 5px #ffffff;
  box-sizing: border-box;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  h2 {
    border-bottom: 2px solid #ffffff;
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  button {
    border-radius: 5px;
    background: $accent-color-light;
    color: $font-color;
    height: 40px;
    width: 225px;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
    }
  }
}