nav {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
  }
  button {
    height: 10%;
    width: 20%;
    &:hover {
      cursor: pointer;
    }
  }
}